button + .v-treeview-node__label {
  display: none;
}

 .v-treeview-node,
 .v_treeview-node > .v-treeview-node--leaf {
  margin-left: 10px;
}

.file-button {
  text-transform: none;
}

.tree {
  overflow:scroll;
}