.full-size {
    width: 100vw;
    height: 100vh;
}

code {
    width: 100%;
}

.center {
    margin: auto;
    width: 95%;
    text-align: center;
}

.editor {
  width: 600px;
  height: 800px;
}

.monaco-workbench>.editor>.content .editor-container {
    height: calc(100% - 35px);
  }