@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { font-family: 'Source Sans Pro', sans-serif; }

#wrapper {
  height: 100vh;
  margin-top: 120px;
  width: 100vw;
}

main {
  display: flex;
  justify-content: space-between;
}

.titleBar {
  background-color: black;
  height: 20px;
  -webkit-app-region: drag;
}

.close-note, .close-note:hover {
  position: absolute;
  top: 0;
  right: 0;
}
.v-tabs__item {
  text-transform: none
}

